%form{ :action => '/search', :method => :get, :id => "search" }
  %input{ :type => 'text_area', :name => 'search_term', :id => "search_bar", :placeholder => 'Search chirposphere...' }
  %input{ :type => 'submit', :value => 'Search', :class => 'btn' }

%form{ :action => '/chirps', :method => :post, :id => 'new_chirp', :enctype => 'multipart/form-data'}
  - # not really a vuln, but the character count is easily bypassed, which can help with exploiting other things
  %textarea{ :name => 'content', :onKeyDown => "l(this.form.content, this.form.countdown, 70);", :onKeyUp => "l(this.form.content, this.form.countdown, 70);", :id => "chirp_text_field", :rows => 2, :placeholder => "Chirp to the world..."}
  .below
    %small
      %input{:type => 'text', :readonly => true, :size => 2, :value => 70, :name => 'countdown'}
      characters left
    %small{ :class => 'picker' }
      Attach image:
      %input{:type => 'file', :name => :attachment }
  .chrip-it
    %input{ :type => 'submit', :value => 'Chirp it!', :class => "btn", :id => "chirp_btn" }

- unless @chirps.empty?
  %h2 The Chirposphere
  - @chirps.each do |s|
    .chirp.clear
      .user
        %small
          %strong @#{User[s[:user_id]][:username]}
      .content
        = s.content.split(" ").collect{ |word| word.gsub(/^(http:\/\/\S+)/) {|url| "<a href='#{url}'>#{url}</a>"} }.join(" ")
      - unless s[:attachment].empty?
        .chirp_attachment
          %a{ :href => "/pics/#{s[:attachment]}" } See attachment

:javascript
    function l(f, c, n) {
      if(f.value.length > n) {
        f.value = f.value.substring(0,n);
      } else {c.value = n-f.value.length;}
    }
  ;
